@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  padding: 10px 16px 10px 100px;
  max-width: 85vw;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}
th,
td {
  padding: 12px 15px;
}
tbody tr {
  border-bottom: 1px solid #ddd;
}
tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

#user_post {
  text-align: center;
  margin-left: 20px;
}
.post_container {
  flex: 4;
}
#table_container {
  flex: 1;
}
#user_details {
  display: block;
  line-height: 10px;
  margin: 25px 0 50px 0;
}

button {
  background-color: #c060a1;
  border: none;
  height: 20px;
  width: 200px;
  color: white;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
}
.loader {
  position: fixed;
  left: 40%;
  top: 20%;
  margin: auto;
  z-index: 0;

  height: 50px;
  animation: rotate 3s linear infinite;
}
.circle {
  background-color: #009879;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  animation: grow 1.5s linear infinite;
  transform: scale(0);
  margin: -10px;
}
.circle:nth-child(2) {
  background-color: #c060a1;
  animation-delay: 0.7s;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes grow {
  50% {
    transform: scale(1);
  }
}
